* {
  font-family: "Atma", serif;
  letter-spacing: 2.5px;
  margin: 0; 
  padding: 0;
}

body {
    background-color: black;
}

html, body {
    width: 100vw;
    height: 100vh;
}

textarea:focus {
  outline: 1px solid #750D37;
  border-radius: 5px;
}
